.imagem-logo{
    width: 50px;
    height: 60px;
    position: relative;
    top: 5px;
}

nav{
    background-color: #16a085 ;

}

.icone-imagem{
    width: 55px;
    height: 65px;
    position: relative;
    top: 7px;
}

.icones-nav{
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
}

.bt-sair{
    color: #ff0000 !important;
}

#search{
    color: #ffffff;
    position: relative;
    left: -640px;
}

.icon-search{
    position: relative;
    left: -655px;
    top: 8px;
}

.estante{
    height: 100%;
    border-right-width: 7px;
    border-right-style: double;
    border-right-color: #000000;
}

.img-add{
    width: 20px;
    height: 15px;
}


.bt-prateleira{
    background-color: #ffffff;
    box-shadow: none !important;
    color: #0000FF;
    font-size: 16px;
    box-shadow: #ffffff;
}

#modalPrateleira{
    height: 375px !important;
    width: 490px !important;
}

#btCriar{
    border-radius: 20px 20px;
}

.tam-modal{
    height: 407px !important;
    width: 490px !important;
}

#modalMaterial{
    height: 400px !important;
    width: 700px !important;
}

.image-image{
    position: relative;
    right: 590px !important;
}

.input-file{
    width: 650px !important;
    position: relative;
    left: 35px;
}

.btn-conta{
    border-radius: 20px 20px;
}

.btn-edit{
    font-size: 17px;
    color: #008b8b;
    font-family: 'Ubuntu Condensed';
}

.icon-user{
    width: 75px;
    height: 85px;
}

.pos-direita{
    float: right;
}

.titulo-estante{
    font-size: 14px;
    font-family: 'Ubuntu Condensed' ;
}


.card{
    width: 320px !important;
    height: 335px !important;
}

.total{
    width: 100%;
}

.red{
    position: relative;
    top: 129px !important;
}

.btn-card{
    border-radius: 20px 20px;
}

#modalInfo{
    width: 470px !important;
    height: 760px !important;
}

.img-infonot{
    width: 95px;
    height: 85px;
}

.mensagem-box{
    background-color: azure;
    border-radius: 10px 10px;
}

.corpoInfo{
    font-size: 12px;
}

.titulo-not{
    font-size: 17px;
}

modalPrateleiraAdd{
    width: 390px !important;
    height: 300px !important;
}

.img-prateleiraAdd{
    height: 90px;
    width: 100px;
}

.pratletter{
    font-family: 'Ubuntu Condensed';
}
